mule/getCustomerById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="517914a9-fe55-49ae-a12d-181541ea91a2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="customer_info" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ff63720-948a-43f5-a2c7-817de6427f62" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="getCustomerByIdFlow" doc:id="b821cf34-3dc2-427b-896a-e112ded9ccdd" >
		<http:listener doc:name="Listener" doc:id="e47f4671-303d-4fee-94a0-267339daa618" config-ref="HTTP_Listener_config" path="/customer/{id}" allowedMethods="GET"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="55dbebf3-a30e-4a18-adf1-72d034058cb8" variableName="id"/>
		<db:select doc:name="Select" doc:id="2d65901d-204d-4c06-8323-ba41b3889e5d" config-ref="Database_Config">
			<db:sql >SELECT * FROM contact WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': attributes.uriParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="74b13c60-e9de-412a-8e70-944986fb217b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
