mule/updateById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updateByIdFlow" doc:id="d709a650-865f-4b85-a6a9-aa23a1cf3a45" >
		<http:listener doc:name="Listener" doc:id="b3ad57e1-8eae-4968-9b19-03d6ddc901c2" config-ref="HTTP_Listener_config" path="/updateById/{id}" allowedMethods="PUT"/>
		<db:update doc:name="Update" doc:id="c1baaca9-c613-4c93-b5ec-19693ca29b69" config-ref="Database_Config">
			<db:sql >UPDATE contact
 Set 
first_name=:first_name
,last_name=:last_name
,address=:address
,ssn=:ssn
,phone_no=:phone_no
,email=:email
WHERE id=:id
                                         </db:sql>
			<db:input-parameters ><![CDATA[#[{id:payload.id
,first_name:payload.first_name
,last_name:payload.last_name
,address:payload.address
,ssn:payload.ssn
,phone_no:payload.phone_no
,email:payload.email}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="63ad505a-7d44-4d75-926e-41ab5a18be1a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Succsessfully Updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
